Repository aleksandr-kiliushin/sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

Add settings.json
  .vscode/settings.json
Due: prettier --write

cjs -> mjs, refactor
  .lintstagedrc.json
  .vscode/settings.json
  base-configs/eslint.react.base.config.mjs
  base-configs/prettier.base.config.mjs
  eslint.config.cjs
  eslint.config.mjs
  package-lock.json
  package.json
  prettier.config.cjs
  prettier.config.mjs
  vite.config.ts
Due: eslint --max-warnings=0, prettier --write

Add precommit hook
  .husky/pre-commit
Due: none

Fix types paths
  package.json
Due: prettier --write

Bump version
  package-lock.json
  package.json
Due: prettier --write

Exclude node_modules
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --max-warnings=0, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{cjs,ts,tsx}
  prettier --write: any of: *.{css,json,md}
